.chamberAddress {
  font-size: 12px;
  font-weight: bold;
  line-height: 2;
  color: rgb(52, 101, 164);
  outline: 1px solid rgb(238, 238, 236);
}

.weekDay {
  font-size: 12px;
  line-height: 1.7;
  color: grey;
}

.timing {
  font-size: 12px;
  line-height: 1.7;
  color: grey;
}
