.doctorCard {
  width: 100%;
  outline: 1px solid rgb(239, 41, 41);
}

.doctorCardTitle {
  font-size: 15px;
  font-weight: bold;
  line-height: 2;
}

.doctorCardDrgree {
  font-size: 12px;
  line-height: 2;
}

.doctorCardDesignation {
  font-size: 12px;
  line-height: 2;
}

.doctorCardProfile {
  font-size: 12px;
  line-height: 1.7;
  color: grey;
}
