/* ==========================================================================
Home page medicine tab styles
========================================================================== */

@mixin transform($transforms) {
  -moz-transform: $transforms;
  -o-transform: $transforms;
  -ms-transform: $transforms;
  -webkit-transform: $transforms;
  transform: $transforms;
}

@mixin scale($scale) {
  @include transform(scale($scale));
}

@mixin transform-origin($origin) {
  -moz-transform-origin: $origin;
  -o-transform-origin: $origin;
  -ms-transform-origin: $origin;
  -webkit-transform-origin: $origin;
  transform-origin: $origin;
}

@mixin pseudo($content: '', $display: block, $position: absolute) {
  content: $content;
  display: $display;
  position: $position;
}

.thumbnail iframe {
  width: 1440px;
  height: 900px;
}

.thumbnail {
  margin: 0;
  @include transform-origin(top left);
  @include scale(0.1);
  position: relative;
}

.thumbnail::after {
  @include pseudo;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 1440px;
  height: 900px;
}

.thumbnail-container {
  background: #f9f9f9;
  width: calc(1440px * 0.1);
  height: calc(900px * 0.1);
  display: inline-block;
  overflow: hidden;
  position: relative;
}
